body{
    font-family: Verdana;
    margin: 0;
    padding:0;
}

.navigation{
    display: flex;
    justify-content:space-between;
    background-color: #FFFFFF;
}

.navigation__logo{
    color:#335576;
    margin-left: 100px;
}

.navigation__list{
    list-style: none;
    display: flex;
    margin-right: 100px;
}

.nav-list__items{
    text-decoration: none;
    color: black;
    margin-left: 20px;
    padding-bottom: 10px;
}

.nav-list__items--active{
    border-bottom: solid #DB7A4E 3px;
}