.hero{
    display: flex;
    justify-content:space-between;
    background-color: #FEFAF5;
    padding: 70px 0;
}

.hero__container{
    max-width: 550px;
    margin-left: 100px;
}

.hero__slogan{
    color:#335576;
    font-size: 35px;
}

.hero__text{
    color:#335576;
    font-size:14px;
    margin-bottom: 30px;
}

.hero__button{
    background-color: #DB7A4E;
    color:white;
    border:none;
    font-size: 14px;
    padding:7px 40px;
    border-radius: 30px;
}

.hero__image{
    max-height: 400px;
    max-width: 400px;
    margin-right: 100px;
}

.recommendations{
    margin-top: 40px;
    margin-bottom: 80px;
}

.recommendations__card-container{
    display: flex;
    justify-content:space-evenly;
}

.recommendations__header{
    color:#335576;
    font-size: 22px;
    margin-top:0;
    margin-left: 90px;
    margin-bottom: 28px;
}

a{
    text-decoration: none;
}

.recommendations__card{
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 4px rgba(0,0,0,.2);
    background-size:cover;
    background-repeat: no-repeat;
    width:246px;
    height:370px;
    border-radius: 5px;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.recommendations__card--hawaii{
    background-image: url("../assets/images/hawaii.jpg");
    margin-left:182px;
}

.recommendations__card--iceland{
    background-image: url("../assets/images/iceland.jpg");
}

.recommendations__card--greece{
    background-image: url("../assets/images/greece.jpg");
    margin-right: 182px;
}


.card__title{
    margin-right: 20px;
    margin-bottom:15px;
    font-size: 22px;
    color: white;
}

.card__title--iceland{
    margin-right: 12px;
}